/** VARIABLES
===================================*/
$controls: 'images/controls.png';
$loader:   'images/bx_loader.gif';

/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
	position: relative;
	margin: auto;
	padding: 0;
	touch-action: pan-y;

	@media (--not-palm) {
		/* Fix safari bug. Render issues on left side */
		&:before {
			position: absolute;
			top: 0;
			left: -1px;
			z-index: 1000000;
			display: block;
			width: 2px;
			height: 100%;
			background: #fff;
			content: "";
		}
	}

	img {
		display: block;
		max-width: 100%;
	}
}

.bxslider {
	margin: 0;
	padding: 0;
	list-style: none;
}

.bx-viewport {
	/*fix other elements on the page moving (on Chrome)*/
	-webkit-transform: translateZ(0);
}

/** THEME
===================================*/

.bx-wrapper {
	/* .bx-pager,
	.bx-controls-auto {
		position: absolute;
		bottom: -30px;
		width: 100%;
	} */
}

/* LOADER */
/* .bx-wrapper .bx-loading {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
	min-height: 50px;
	width: 100%;
	height: 100%;
	background: url($loader) center center no-repeat #fff;
} */

/* PAGER */
/* .bx-wrapper {
	.bx-pager {
		padding-top: 20px;
		color: #666;
		text-align: center;
		font-weight: bold;
		font-size: .85em;
		font-family: Arial;

		&.bx-default-pager a {
			display: block;
			margin: 0 5px;
			width: 10px;
			height: 10px;
			outline: 0;
			border-radius: 5px;
			background: #666;
			text-indent: -9999px;

			&:hover,
			&.active,
			&:focus {
				background: #000;
			}
		}
	}
	.bx-pager-item,
	.bx-controls-auto .bx-controls-auto-item {
		display: inline-block;
	}
	.bx-pager-item {
		font-size: 0;
		line-height: 0;
	}
} */

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper {
	.bx-controls-direction a {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 9999;
		overflow: hidden;
		width: 100px;
		outline: 0;
		background: url("img/slider-arrow.svg") right 10px center no-repeat;
		/* background-color: rgba(#ccc, .6); */
		text-indent: 100%;
		white-space: nowrap;
		/* opacity: .5; */

		@media (--palm) {
			width: 44px;
		}

		&.disabled {
			display: none;
		}
		&:hover {
			/* opacity: 1; */
		}
	}
	&:hover {
		.bx-controls-direction a {
			opacity: 1;
		}
	}
	.bx-prev {
		left: 0;
		cursor: w-resize;
		transform: rotate(180deg);
	}
	.bx-next {
		right: 0;
		cursor: e-resize;
	}
}

/* AUTO CONTROLS (START / STOP) */
/* .bx-wrapper .bx-controls-auto {
	text-align: center;

	.bx-start {
		display: block;
		margin: 0 3px;
		width: 10px;
		height: 11px;
		outline: 0;
		background: url($controls) -86px -11px no-repeat;
		text-indent: -9999px;

		&:hover,
		&.active,
		&:focus {
			background-position: -86px 0;
		}
	}
	.bx-stop {
		display: block;
		margin: 0 3px;
		width: 9px;
		height: 11px;
		outline: 0;
		background: url($controls) -86px -44px no-repeat;
		text-indent: -9999px;

		&:hover,
		&.active,
		&:focus {
			background-position: -86px -33px;
		}
	}
} */

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
/* .bx-wrapper {
	.bx-controls.bx-has-controls-auto.bx-has-pager {
		.bx-pager {
			width: 80%;
			text-align: left;
		}
		.bx-controls-auto {
			right: 0;
			width: 35px;
		}
	}
} */

/* IMAGE CAPTIONS */
/* .bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #666;
	background: rgba(80, 80, 80, 0.75);

	span {
		display: block;
		padding: 10px;
		color: #fff;
		font-size: .85em;
		font-family: Arial;
	}
} */
