@charset "utf-8";

@import "_reset.pcss";
@import "_vars.pcss";
@import "_mixins.pcss";

/* Initial
-----------------------------------------------------------------------------*/

body {
	background: #fff;
	color: $default-color;
	font: 15px/20px $default-font;
}
a {
	transition: all $transition-duration;

	&,
	&:active {
		color: $link-color;
		text-decoration: none;
	}
	&:hover {
		color: $link-color--hover;
	}
}
input, select, textarea, button {
	color: $default-color;
	font-family: $default-font;
}

/* Common
-----------------------------------------------------------------------------*/

.inner {
	lost-center: calc($column-size * 12 + $gutter-size * 11 + 20px * 2) 20px;

	@media (--palm) {
		padding-right: 10px;
		padding-left: @padding-right;
	}
}
.masthead {
	padding-top: 34px;
	padding-bottom: 64px;
	background: #f3f6f8 url("img/masthead-bg.jpg") 50% 50% no-repeat;
	background-size: cover;
	text-align: center;

	@media (--palm) {
		padding-top: 24px;
		padding-bottom: 0;
		background-image: url("img/masthead-bg--palm.jpg");
	}

	&__logo {
		margin-bottom: 42px;

		@media (--palm) {
			margin-bottom: 18px;
		}
	}
	&__slogan {
		margin-bottom: 9px;
		font-weight: bold;
		font-size: 40px;
		line-height: 54px;

		@media (--palm) {
			font-size: 30px;
			line-height: 36px;
		}
	}
	&__subslogan {
		margin-bottom: 18px;
		font-size: 20px;
		line-height: 30px;

		@media (--palm) {
			font-size: 18px;
			line-height: 24px;
		}
	}
	&__action-wrapper {
		margin-bottom: 56px;

		@media (--palm) {
			margin-bottom: 27px;
		}
	}
	&__action {
		display: inline-block;
		padding: 0 30px;
		border-radius: 5px;
		background: #ff4324;
		color: #fff;
		font-weight: bold;
		font-size: 20px;
		line-height: 45px;

		&:hover {
			background: #eb3e21;
			color: #fff;
		}
	}
	&__keyboard-wrapper {
		@media (--palm) {
			position: relative;

			&:before {
				position: absolute;
				top: 50%;
				right: -10px;
				bottom: 0;
				left: -10px;
				display: block;
				background: #fff;
				content: "";
			}
		}
	}
	&__keyboard {
		max-width: 100%;
		border-radius: 14px;
		box-shadow: 0 4px 13px rgba(#000, .08);

		@media (--palm) {
			position: relative;
			border-radius: 6px;
			box-shadow: 0 2px 5px rgba(#000, .66);
		}
	}
}
.logo {
	&__image {
		@media (--palm) {
			width: 154px;
		}
	}
}
.users {
	margin-bottom: 55px;
	padding: 20px 0;
	border-bottom: 1px solid #ecf0f1;

	@media (--palm) {
		margin-bottom: 25px;
	}

	&__inner {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
	}
	&__title {
		padding: 10px 25px;
		color: #7F8C8D;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1.81px;
		font-weight: normal;
		font-size: 10px;
		line-height: 17px;
	}
	&__list {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
	}
	&__item {
		padding: 10px 25px;
	}
	&__logo {
	}
}
.features {
	margin-bottom: 72px;

	@media (--palm) {
		display: none;
	}

	&__list {
		margin: 0 auto;
		max-width: calc($column-size * 6 + $gutter-size * 5);
	}
	&__item {
		padding-left: calc($column-size + $gutter-size);
		min-height: height("img/features__item--accelerate.svg");
		background-repeat: no-repeat;

		&:not(:last-child) {
			margin-bottom: 36px;
		}
		&--accelerate {
			background-image: svg-load("img/features__item--accelerate.svg");
		}
		&--discover {
			background-image: svg-load("img/features__item--discover.svg");
		}
		&--improve {
			background-image: svg-load("img/features__item--improve.svg");
			background-position: 0 8px;
		}
	}
	&__feature-name {
		margin-bottom: 7px;
		font-weight: bold;
		font-size: 26px;
		line-height: 1;
	}
	&__description {
		font-size: 16px;
		line-height: 22px;
	}
}
.products {
	margin-bottom: 60px;

	&__title {
		display: none;
	}
	&__tab-titles {
		lost-flex-container: row;
		margin-bottom: 36px;

		@media (--palm) {
			margin-bottom: 21px;
		}
	}
	&__tab-title {
		lost-column: 1/2 flex;

		@media (--palm) {
			lost-column: 1/2 2 4px flex;
		}
	}
	&__tabs {
	}
	&__tab {
		display: none;

		&--current {
			display: block;
		}
	}
}
.tab-card {
	display: flex;
	border: 4px solid #edf0f1;
	border-radius: 9px;
	transition-timing-function: ease-out;
	transition-duration: .15s;
	transition-property: background, border-color;

	&:hover {
		border-color: #0057fb;
		background: #edf0f1;
		cursor: pointer;
	}
	&--current {
		position: relative;
		border-color: #0057fb;
		background: #edf0f1;

		&:before,
		&:after {
			position: absolute;
			top: 100%;
			left: 50%;
			display: block;
			width: 0;
			height: 0;
			border: solid transparent;
			border-bottom-width: 0;
			content: '';
		}
		&:before {
			margin-left: -@border-width;
			border-width: 20px;
			border-top-color: #0057fb;

			@media (--palm) {
				margin-left: -@border-width;
				border-width: 16px;
			}
		}
		&:after {
			margin-left: -@border-width;
			border-width: 14px;
			border-top-color: #edf0f1;

			@media (--palm) {
				margin-left: -@border-width;
				border-width: 10px;
			}
		}
	}
	&__text {
		align-self: center;
		padding: 25px 0;
		padding-left: 58px;
		width: 60%;

		@media (--portable) {
			padding-right: 58px;
			width: 100%;
		}
		@media (--palm) {
			padding-right: 0;
			padding-left: 0;
			text-align: center;
		}
	}
	&__title {
		margin-bottom: 5px;
		font-size: 36px;
		line-height: 46px;

		@media (--palm) {
			margin: 0;
			font-size: 24px;
			line-height: 30px;
		}
	}
	&__icon {
		vertical-align: middle;

		@media (--palm) {
			height: 32px;
		}
	}
	&__title-text {
		margin-left: 3px;
		vertical-align: middle;

		@media (--palm) {
			display: block;
			margin-top: 2px;
			margin-left: 0;
		}
	}
	&__description {
		margin-bottom: 10px;
		font-size: 16px;
		line-height: 22px;

		@media (--palm) {
			display: none;
		}
	}
	&__view-details {
		color: #0057fb;
		font-weight: bold;
		font-size: 20px;
		line-height: 30px;
		transition-timing-function: ease-out;
		transition-duration: .1s;
		transition-property: transform, opacity;

		@media (--palm) {
			display: none;
		}
	}
	&--current &__view-details {
		opacity: 0;
		transform: translateY(100%);
	}
	&__image-wrapper {
		align-self: flex-end;
		margin-top: 30px;
		margin-right: 25px;
		width: 40%;
		text-align: right;

		@media (--portable) {
			display: none;
		}
	}
	&__image {
		max-width: 100%;
	}
}
.twitter-wrapper {

}
.twitter {
	display: block;
	height: 80px;
	border: 2px solid;
	border-radius: 5px;

	@media (--palm) {
		height: 50px;
	}

	&:hover {
		border-color: $link-color--hover;
		background: $link-color--hover;
		color: #fff;
	}
	&__inner {
		position: relative;
		display: block;
		margin: auto;
		padding-left: calc($column-size + $gutter-size - 2px);
		max-width: calc($column-size * 6 + $gutter-size * 5);
		height: 100%;

		@media (--palm) {
			padding-left: 55px;
			max-width: initial;
		}
	}
	&__logo {
		position: absolute;
		top: 50%;
		left: 28px;
		margin-top: calc(height("img/svg-sprite/twitter__logo.svg") / -2);

		@media (--palm) {
			left: 18px;
			margin-top: calc(@height / -2);
			width: 25px;
			height: 20px;
		}
	}
	&__handle {
		display: block;
		padding-top: 18px;
		font-weight: bold;
		font-size: 24px;
		line-height: 1;

		@media (--palm) {
			padding-top: 0;
			font-size: 18px;
			line-height: 48px;
		}
	}
	&__description {
		display: block;
		font-size: 15px;
		line-height: 24px;

		@media (--palm) {
			display: none;
		}
	}
	&__arrow {
		position: absolute;
		top: 50%;
		right: 32px;
		margin-top: calc(height("img/svg-sprite/twitter__arrow.svg") / -2);

		@media (--palm) {
			right: 12px;
			margin-top: calc(@height / -2);
			width: 22px;
			height: 20px;
		}
	}
}
.photos-and-buy {
	margin-bottom: 24px;

	@media (--lap-and-bigger) {
		lost-flex-container: row;
	}
}
.photos {
	@media (--desk) {
		lost-column: 8/12 flex;
	}
	@media (--lap) {
		lost-column: 7/12 flex;
	}
	@media (--smaller-than-lap) {
		margin-bottom: 30px;
	}
	@media (--palm) {
		margin-right: -10px;
		margin-bottom: 23px;
		margin-left: @margin-right;
	}
}
.slider {
	position: relative;

	&__frame {
		position: relative;
		overflow: hidden;
		white-space: nowrap;
		font-size: 0;
		line-height: 0;
	}
	&__slides {
		display: inline-block;
	}
	&__slide {
		position: relative;
		display: inline-block;
		width: 100%;
	}
	&__photo {
		width: 100%;
	}
	&__arrow {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 9999;
		overflow: hidden;
		width: 100px;
		outline: 0;
		background: url(img/slider-arrow.svg) right 17px center no-repeat;
		text-indent: 100%;
		white-space: nowrap;
		user-select: none;

		@media (--palm) {
			width: 44px;
			background-position: 50% 50%;
			background-size: 34px;
		}

		&--disabled {
			display: none;
		}
		&--prev {
			left: 0;
			cursor: w-resize;
			transform: rotate(180deg);
		}
		&--next {
			right: 0;
			cursor: e-resize;
		}
	}
}
.buy {
	padding: 30px;
	border-radius: 5px;
	background: #ecf0f1;

	@media (--desk) {
		lost-column: 4/12 flex;
	}
	@media (--lap) {
		lost-column: 5/12 flex;
	}
	@media (--palm) {
		margin-right: -10px;
		margin-left: @margin-right;
		padding: 17px 10px;
		border-radius: 0;
	}

	&__price-wrapper {
		margin-bottom: 4px;
		font-size: 48px;
		line-height: 44px;

		@media (--palm) {
			margin-bottom: 0;
			font-size: 36px;
		}
	}
	&__price {
		font-weight: normal;
	}
	&__shipping {
		position: relative;
		margin-bottom: 16px;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;

		@media (--palm) {
			margin-bottom: 13px;
		}
	}
	&__shopify {
		overflow: hidden;
		margin-bottom: 9px;

		> div {
			margin-top: -15px;
		}
	}
	&__security {
		position: relative;
		margin-bottom: 25px;
		padding-top: 1px;
		padding-bottom: 1px;
		padding-left: 23px;
		background: svg-load("img/buy__security.svg") 0 2px no-repeat;
		color: #7f8c8d;
		font-size: 13px;
		line-height: 16px;
	}
}
.buy-features {
	&__feature {
		padding-left: 62px;
		background-repeat: no-repeat;

		&:not(:last-child) {
			margin-bottom: 19px;
		}
		&--gift {
			background-image: url("img/buy-features__feature--gift.svg");
			background-position: 0 3px;
		}
		&--produced {
			background-image: url("img/buy-features__feature--produced.svg");
			background-position: 8px 3px;
		}
	}
	&__name {
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
	}
	&__description {
		a {
			color: currentColor;
			text-decoration: underline;

			&:hover {
				color: $link-color--hover;
			}
		}
	}
	&__link {
	}
}
.tweets {
	@media (--smaller-than-lap) {
		display: none;
	}

	&__title {
		margin-bottom: 29px;
		font-weight: bold;
		font-size: 36px;
		line-height: 46px;

		@media (--palm) {
			margin-bottom: 14px;
			font-size: 24px;
			line-height: 32px;
		}
	}
	&__list {
		lost-utility: clearfix;
	}
	&__tweet {
		lost-column: 1/3;

		&:nth-child(n+4) {
			margin-top: 22px;
		}
	}
	.twitter-tweet-rendered {
		margin: 0 !important;
	}
}
.faq {
	@media (--lap-and-bigger) {
		margin-bottom: 30px;
		padding-bottom: 30px;
		border-bottom: 2px solid #ecf0f1;
	}

	&__title {
		margin-bottom: 29px;
		font-weight: bold;
		font-size: 36px;
		line-height: 46px;

		@media (--palm) {
			margin-bottom: 14px;
			font-size: 24px;
			line-height: 32px;
		}
	}
	&__columns {
		@media (--lap-and-bigger) {
			lost-utility: clearfix;
		}
	}
	&__column {
		@media (--lap-and-bigger) {
			lost-column: 1/2;
		}
	}
	&__list {
	}
	&__item {
		position: relative;
		margin-bottom: 19px;
		padding-right: $column-size;
		padding-left: 22px;

		@media (--lap) {
			padding-right: 40px;
		}
		@media (--lap-and-bigger) {
			&:last-child {
				margin-bottom: 0;
			}
		}
		@media (--palm) {
			margin-bottom: 15px;
			padding-right: 0;
		}
	}
	&__question {
		font-weight: bold;
		font-size: 15px;
		line-height: 22px;
		transition: all $transition-duration;

		&:before {
			position: absolute;
			top: 8px;
			left: 0;
			display: block;
			width: width("img/arrow-down.svg");
			height: height("img/arrow-down.svg");
			background: svg-load("img/arrow-down.svg", fill: $link-color) 0 0 no-repeat;
			content: "";
			transition: transform $transition-duration;

			.is-expanded & {
				transform: rotate(180deg);
			}
		}
		&:hover:before {
			background-image: svg-load("img/arrow-down.svg", fill: $link-color--hover);
		}
		&:hover {
			color: $link-color--hover;
			cursor: pointer;
		}
	}
	&__answer {
		display: none;
		margin-top: 5px;

		.is-expanded & {
			display: block;
		}
		a {
			color: currentColor;
			text-decoration: underline;

			&:hover {
				color: $link-color--hover;
			}
		}
	}
}
.footer {
	overflow: hidden;
	margin-top: 42px;
	padding: 17px 0 20px;
	border-top: 2px solid #ecf0f1;

	@media (--palm) {
		margin-top: 14px;
	}

	&__link {
		float: right;

		@media (--not-palm) {
			&:not(:first-of-type) {
				margin-right: 46px;
			}
		}
		@media (--palm) {
			float: left;
			margin-bottom: 10px;

			&:not(:first-of-type) {
				margin-left: 20px;
			}
		}
	}
	&__link-icon {
		position: relative;
		top: -4px;
		margin-right: 4px;
		vertical-align: middle;
	}
}
.copyright {
	float: left;
	clear: left;
}
