$default-font: Avenir, Helvetica, Arial, sans-serif;
$default-color: #000;
$link-color: #0433ff;
$link-color--hover: #0027d1;
$link-color--active: #ff4324;

$gutter-size: 22px;
$column-size: 80px;

$transition-duration: 0.15s;

@lost gutter $gutter-size;

@custom-media --palm (width < 768px);
@custom-media --not-palm (width >= 768px);
@custom-media --smaller-than-lap (width < 800px);
@custom-media --lap (800px <= width < 1024px);
@custom-media --lap-and-bigger (width >= 800px);
@custom-media --portable (width < 1024px);
@custom-media --between-palm-and-desk (768px <= width < 1024px);
@custom-media --desk (width >= 1024px);
