{% extends "layout/base.html" %}

{% block pageTitle %}Keyboard Stickers with Adobe XD Shortcuts — SketchKeys{% endblock %}
{% block metaDescription %}Keyboard stickers with shortcuts for Adobe XD. Accelerate your design and development workflow by learning hotkeys and improve your workspace ergonomics.{% endblock %}
{% block socialTitle %}SketchKeys — Keyboard shortcuts stickers for Adobe XD{% endblock %}
{% block socialDescription %}Set of Adobe XD keyboard stickers with shortcuts for accelerating design and development workflow.{% endblock %}

{% set currentNavItem = 'adobe-xd' %}
{% set headerHasBorder = true %}

{% block content %}

{% from "blocks/breadcrumbs.html" import breadcrumbs %}
{{ breadcrumbs('Adobe XD') }}

<div class="product">
	<section class="product__gallery" data-gallery>

		<div class="product__gallery__i">
			<div class="gallery" id="gallery">
				<div class="gallery__item">
					<img class="gallery__item__img" src="img/photos/adobe-xd-black-keyboard-stickers.jpg"
						 srcset="img/photos/adobe-xd-black-keyboard-stickers@2x.jpg 2x" alt="">
				</div>
				<div class="gallery__item">
					<img class="gallery__item__img" src="img/photos/adobe-xd-white-keyboard-stickers.jpg"
						 srcset="img/photos/adobe-xd-white-keyboard-stickers@2x.jpg 2x" alt="">
				</div>
				<div class="gallery__item">
					<img class="gallery__item__img" src="img/photos/gift-envelopes.jpg"
						 srcset="img/photos/gift-envelopes@2x.jpg 2x" alt="">
				</div>
			</div>

			<div class="gallery__btns" id="gallery-btns">
				<div class="gallery__btns__arrow --prev"></div>
				<div class="gallery__btns__arrow --next"></div>
			</div>
		</div>
		<div class="gallery__thumbs" id="gallery-thumbs">
			<div class="gallery__thumbs__item">
				<img class="gallery__thumbs__item__img" src="img/photos/adobe-xd-black-keyboard-stickers.jpg" alt="">
			</div>
			<div class="gallery__thumbs__item">
				<img class="gallery__thumbs__item__img" src="img/photos/adobe-xd-white-keyboard-stickers.jpg" alt="">
			</div>
			<div class="gallery__thumbs__item">
				<img class="gallery__thumbs__item__img" src="img/photos/gift-envelopes.jpg" alt="">
			</div>
		</div>
	</section>

	<section class="product__details">
		<section class="buy">
			<h1 class="buy__title">Keyboard Stickers with Adobe XD Shortcuts</h1>
			<p class="buy__price">$12.00</p>
			<div class="buy__shipping">Free worldwide shipping.<br>Pre-Order, shipping on March 22nd.</div>
			<div class="buy__shopify">
				<div id='product-component-1584040658380'></div>
			</div>
			<p class="buy__security">Secure checkout via Shopify</p>
			<div class="buy__sizes">
				<h3 class="buy__sizes__title">Size Guide</h3>
				<div class="buy__sizes__sections">
					<div class="buy__sizes__section">
						<div class="buy__sizes__size">
							<span>L</span>
						</div>
						<div class="buy__sizes__descr">
							<ul class="buy__sizes__list">
								<li class="buy__sizes__list__item">
									MacBook Pro 2016 and newer
								</li>
								<li class="buy__sizes__list__item">
									MacBook Air 2017 and newer
								</li>
								<li class="buy__sizes__list__item">
									Apple Magic Keyboard
								</li>
							</ul>
						</div>
					</div>
					<div class="buy__sizes__section">
						<div class="buy__sizes__size">
							<span>S</span>
						</div>
						<div class="buy__sizes__descr">
							<ul class="buy__sizes__list">
								<li class="buy__sizes__list__item">
									All the rest of Macs and PCs
								</li>
								<li class="buy__sizes__list__item">
									Apple Keyboard
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</div>

{% include "blocks/qualities.html" %}

<div class="inner">
	<section class="faq"><!--FAQ-->
		<h2 class="faq__title">FAQ</h2>

		<div class="faq__columns">
			<div class="faq__column">
				<ul class="faq__list">
					<li class="faq__item">
						<h3 class="faq__question">Who created SketchKeys?</h3>

						<p class="faq__answer">SketchKeys is a family-run project, managed by <a
								href="https://twitter.com/hvost">Artiom</a>. I'm a former senior product designer at <a
								href="https://www.wework.com">WeWork</a> and author of <a href="https://productdesigninterview.com">"Solving Product Design Exercises."</a> My parents—both product designers—take care of the production and shipping process. Feel free to <a href="mailto:hvoostik@gmail.com">reach out</a>.</p>
					</li>

					<li class="faq__item">
						<h3 class="faq__question">How long does the shipping take? </h3>

						<p class="faq__answer">Shipping around Europe takes about 8–15 days; to the U.S., 11–22 days; and Asia and Oceania, 14–30 days.</p>
					</li>

					<li class="faq__item">
						<h3 class="faq__question">Is peeling off the stickers going to damage my keyboard?</h3>

						<p class="faq__answer">No, while working on the product I completed at least a dozen cycles of applying stickers and peeling them off. Both my MacBook and external keyboards are in great shape!</p>
					</li>

					<li class="faq__item">
						<h3 class="faq__question">What if I don’t like the product?</h3>

						<p class="faq__answer">We work hard to make sure it won’t happen. However, if for some reason you don’t like the product you can get a refund up to 40 days after the shipping date.</p>
					</li>
				</ul>
			</div>

			<div class="faq__column">
				<ul class="faq__list">
					<li class="faq__item">
						<h3 class="faq__question">How durable are the stickers?</h3>

						<p class="faq__answer">The stickers are made to last at least for a year, giving you enough time to remember all the shortcuts combinations. 💪</p>
					</li>
					<li class="faq__item">
						<h3 class="faq__question">I’m colorblind and I want to use your product.</h3>

						<p class="faq__answer"><a href="mailto:hvoostik@gmail.com">Send me an email</a> and I’ll create a <a
								href="https://twitter.com/303/status/752229924191162368?ref_src=twsrc%5Etfw">custom version</a> for
							you for the same price.</p>
					</li>

					<li class="faq__item">
						<h3 class="faq__question">	I like the stickers but I’d love to get them for other software.</h3>

						<p class="faq__answer">Sounds interesting! <a href="mailto:hvoostik@gmail.com">Send me an email</a> and I’ll
							see what I can do.</p>
					</li>
				</ul>
			</div>
		</div>
	</section><!-- FAQ -->

<section class="tweets">
		<h2 class="tweets__title">What the community says</h2>

		<div class="tweets__i">
			<div class="tweets__list" id="socials">

				<div class="tweets__tweet --mobile">
					<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">got my <a
							href="https://twitter.com/hashtag/Sketch?src=hash">#Sketch</a> keyboard stickers, thank you <a
							href="https://twitter.com/sketchkeys">@sketchkeys</a>!! <a href="https://t.co/kHlTPoMAgA">pic.twitter.com/kHlTPoMAgA</a>
					</p>&mdash; Franck van Domburg (@ftvandomburg) <a
							href="https://twitter.com/ftvandomburg/status/856877248103817217">April 25, 2017</a>
					</blockquote>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>

				<div class="tweets__tweet --mobile">
					<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Got my <a
							href="https://twitter.com/sketchkeys">@sketchkeys</a> in the mail. 🙌 <a
							href="https://t.co/KpsXtpEhEx">pic.twitter.com/KpsXtpEhEx</a>
					</p>&mdash; Marc Köhlbrugge (@marckohlbrugge) <a
							href="https://twitter.com/marckohlbrugge/status/752209089824972804">July 10, 2016</a>
					</blockquote>
				</div>

				<div class="tweets__tweet --mobile">
					<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Thanks <a href="https://twitter.com/sketchkeys?ref_src=twsrc%5Etfw">@sketchkeys</a> - Even being quite familiar with the shortcuts these key stickers are fantastic quality and do keep me sharp during the design workflow! <a href="https://twitter.com/hashtag/UX?src=hash&amp;ref_src=twsrc%5Etfw">#UX</a> <a href="https://twitter.com/hashtag/UI?src=hash&amp;ref_src=twsrc%5Etfw">#UI</a> <a href="https://twitter.com/hashtag/designthinking?src=hash&amp;ref_src=twsrc%5Etfw">#designthinking</a> <a href="https://t.co/yFm4lptntF">pic.twitter.com/yFm4lptntF</a></p>&mdash; Ahmed Makkawy (@saharafox) <a href="https://twitter.com/saharafox/status/1143035981404282885?ref_src=twsrc%5Etfw">June 24, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>

				<div class="tweets__tweet">
					<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7"
								style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
						<div style="padding:8px;">
							<div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;">
								<div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div>
							</div>
							<p style=" margin:8px 0 0 0; padding:0 4px;"><a href="https://www.instagram.com/p/BHe9BPoB14X/"
																			style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;"
																			target="_blank">Our Lead Interaction Designer is
								loving his
								new #sketchkeys</a></p>
							<p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
								A photo posted by Wide Ventures (@wide_ventures) on
								<time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;"
									  datetime="2016-07-05T14:46:25+00:00">Jul 5, 2016 at 7:46am PDT
								</time>
							</p>
						</div>
					</blockquote>
				</div>

				<div class="tweets__tweet">
					<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7"
								style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
						<div style="padding:8px;">
							<div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;">
								<div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div>
							</div>
							<p style=" margin:8px 0 0 0; padding:0 4px;"><a href="https://www.instagram.com/p/BHb_2EThp9P/"
																			style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;"
																			target="_blank">Today, I pimped my keyboard
								👇🏻👌🏻#sketchkeys</a></p>
							<p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
								A photo posted by amyclarkee (@amyclarkee) on
								<time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;"
									  datetime="2016-07-04T11:13:23+00:00">Jul 4, 2016 at 4:13am PDT
								</time>
							</p>
						</div>
					</blockquote>
				</div>

				<div class="tweets__tweet">
					<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7"
								style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
						<div style="padding:8px;">
							<div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;">
								<div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div>
							</div>
							<p style=" margin:8px 0 0 0; padding:0 4px;"><a href="https://www.instagram.com/p/BFWs8JBhqlP/"
																			style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;"
																			target="_blank">#sketchkeys on all the
								keyboards!</a></p>
							<p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
								A photo posted by Seth Cottle (@sethcottle) on
								<time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;"
									  datetime="2016-05-13T16:49:12+00:00">May 13, 2016 at 9:49am PDT
								</time>
							</p>
						</div>
					</blockquote>
				</div>
				<div class="tweets__tweet">
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Got my <a href="https://twitter.com/sketchkeys?ref_src=twsrc%5Etfw">@sketchkeys</a> 😊<br>Spasibo! 🙏 <a href="https://t.co/QGWkRnHUL2">pic.twitter.com/QGWkRnHUL2</a></p>&mdash; Andrey Torus (@torus_andrey) <a href="https://twitter.com/torus_andrey/status/1148260159355011072?ref_src=twsrc%5Etfw">July 8, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>

				<div class="tweets__tweet">
					<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Upping my☝shortcut ⌨ game with
						<a
								href="https://twitter.com/sketchkeys">@sketchkeys</a> <a href="https://t.co/L3Ju5IEDRT">pic.twitter.com/L3Ju5IEDRT</a>
					</p>&mdash; Keith Barney (@keithbarney) <a
							href="https://twitter.com/keithbarney/status/715578591434551296">March
						31, 2016</a></blockquote>
				</div>

				<div class="tweets__tweet">
					<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Move through <a
							href="https://twitter.com/sketchapp">@sketchapp</a> like a hot knife through butter with
						keyboard
						shortcut stickers! <a href="https://t.co/6AYrX1s43C">https://t.co/6AYrX1s43C</a> <a
								href="https://t.co/UlnVlM7Q3m">pic.twitter.com/UlnVlM7Q3m</a></p>&mdash; Marvel (@marvelapp)
						<a
								href="https://twitter.com/marvelapp/status/709732043547136000">March 15, 2016</a>
					</blockquote>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
