{% extends "layout/base.html" %}

{% block pageTitle %}Keyboard Stickers with Adobe XD Shortcuts — SketchKeys{% endblock %}
{% block metaDescription %}Keyboard stickers with shortcuts for Adobe XD. Accelerate your design and development workflow by learning hotkeys and improve your workspace ergonomics.{% endblock %}
{% block socialTitle %}SketchKeys — Keyboard shortcuts stickers for Adobe XD{% endblock %}
{% block socialDescription %}Set of Adobe XD keyboard stickers with shortcuts for accelerating design and development workflow.{% endblock %}

{% set currentNavItem = 'adobe-xd' %}
{% set headerHasBorder = true %}

{% block content %}

{% from "blocks/breadcrumbs.html" import breadcrumbs %}
{{ breadcrumbs('Adobe XD') }}

<div class="product">
	<section class="product__gallery" data-gallery>

		<div class="product__gallery__i">
			<div class="gallery" id="gallery">
				<div class="gallery__item">
					<img class="gallery__item__img" src="img/photos/adobe-xd-black-keyboard-stickers.jpg"
						 srcset="img/photos/adobe-xd-black-keyboard-stickers@2x.jpg 2x" alt="">
				</div>
				<div class="gallery__item">
					<img class="gallery__item__img" src="img/photos/adobe-xd-white-keyboard-stickers.jpg"
						 srcset="img/photos/adobe-xd-white-keyboard-stickers@2x.jpg 2x" alt="">
				</div>
				<div class="gallery__item">
					<img class="gallery__item__img" src="img/photos/gift-envelopes.jpg"
						 srcset="img/photos/gift-envelopes@2x.jpg 2x" alt="">
				</div>
			</div>

			<div class="gallery__btns" id="gallery-btns">
				<div class="gallery__btns__arrow --prev"></div>
				<div class="gallery__btns__arrow --next"></div>
			</div>
		</div>
		<div class="gallery__thumbs" id="gallery-thumbs">
			<div class="gallery__thumbs__item">
				<img class="gallery__thumbs__item__img" src="img/photos/adobe-xd-black-keyboard-stickers.jpg" alt="">
			</div>
			<div class="gallery__thumbs__item">
				<img class="gallery__thumbs__item__img" src="img/photos/adobe-xd-white-keyboard-stickers.jpg" alt="">
			</div>
			<div class="gallery__thumbs__item">
				<img class="gallery__thumbs__item__img" src="img/photos/gift-envelopes.jpg" alt="">
			</div>
		</div>
	</section>

	<section class="product__details">
		<section class="buy">
			<h1 class="buy__title">Keyboard Stickers with Adobe XD Shortcuts</h1>
			<p class="buy__price">$12.00</p>
			<div class="buy__shipping">Free worldwide shipping.<br>Pre-Order, shipping on March 22nd.</div>
			<div class="buy__shopify">
				<div id='product-component-1584040658380'></div>
			</div>
			<p class="buy__security">Secure checkout via Shopify</p>
			<div class="buy__sizes">
				<h3 class="buy__sizes__title">Size Guide</h3>
				<div class="buy__sizes__sections">
					<div class="buy__sizes__section">
						<div class="buy__sizes__size">
							<span>L</span>
						</div>
						<div class="buy__sizes__descr">
							<ul class="buy__sizes__list">
								<li class="buy__sizes__list__item">
									MacBook Pro 2016 and newer
								</li>
								<li class="buy__sizes__list__item">
									MacBook Air 2017 and newer
								</li>
								<li class="buy__sizes__list__item">
									Apple Magic Keyboard
								</li>
							</ul>
						</div>
					</div>
					<div class="buy__sizes__section">
						<div class="buy__sizes__size">
							<span>S</span>
						</div>
						<div class="buy__sizes__descr">
							<ul class="buy__sizes__list">
								<li class="buy__sizes__list__item">
									All the rest of Macs and PCs
								</li>
								<li class="buy__sizes__list__item">
									Apple Keyboard
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</div>

{% include "blocks/qualities.html" %}

{% include "blocks/faq.html" %}

{% include "blocks/tweets.html" %}

{% endblock %}
