{% extends "layout/base.html" %}

{% block pageTitle %}SketchKeys — Impressum{% endblock %}
{% block metaDescription %}Keyboard stickers with shortcuts for Sketch App and Photoshop. Accelerate your design and development workflow by learning hotkeys and improve your workspace ergonomics.{% endblock %}
{% block socialTitle %}SketchKeys — Keyboard shortcuts stickers for Sketch App and Photoshop{% endblock %}
{% block socialDescription %}Sets of Sketch and Photoshop keyboard stickers with shortcuts for accelerating design and development workflow.{% endblock %}

{% block content %}
<div class="inner">
	<div class="terms">
		<h2 class="faq__title">Impressum / Legal Disclosure</h2>
		<p class="features__description">Information in accordance with Section 5 TMG
<br><br>
Labor Arti UG (haftungsbeschränkt)<br>
Lohmühlenstraße 65<br>
c/o Factory Works GmbH<br>
12435 Berlin</p><br><br>


		<h3 class="features__feature-name">Contact Information</h3>

		<p class="features__description">Telephone: +4915171993206<br>
E-Mail: hvoostik@gmail.com</p><br><br>


		<h3 class="features__feature-name">Register entry</h3>

		<p class="features__description">Entry in: Handelsregister<br>
Register Number: HRB 209030 B<br>
Register Court: Berlin Charlottenburg</p><br><br>

		<h3 class="features__feature-name">Capital</h3>

		<p class="features__description">Initial or original capital: 1 €</p>



				<h3 class="features__feature-name">VAT number</h3>

		<p class="features__description">VAT indentification number in accorance with Section 27 a of the German VAT act

DE325411093</p>



				<h3 class="features__feature-name">Disclaimer</h3>

		<p class="features__description"><b>Accountability for content</b>
The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. In this matter, please note that we are not obliged to monitor the transmitted or saved information of third parties, or investigate circumstances pointing to illegal activity. Our obligations to remove or block the use of information under generally applicable laws remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG). </p>

		<p class="features__description"><b>Accountability for links</b>
Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages. No violations were evident to us at the time of linking. Should any legal infringement become known to us, we will remove the respective link immediately.</p>

	<p class="features__description"><b>Copyright</b>
Our web pages and their contents are subject to German copyright law. Unless expressly permitted by law, every form of utilizing, reproducing or processing works subject to copyright protection on our web pages requires the prior consent of the respective owner of the rights. Individual reproductions of a work are only allowed for private use. The materials from these pages are copyrighted and any unauthorized use may violate copyright laws. </p>

		</section>
	</div>
</div>
{% endblock %}
