{% extends "layout/base.html" %}

{% block pageTitle %}Keyboard Stickers with Photoshop Shortcuts — SketchKeys{% endblock %}
{% block metaDescription %}Keyboard stickers with shortcuts for Photoshop. Accelerate your design and development workflow by learning the hotkeys.{% endblock %}
{% block socialTitle %}Keyboard Shortcuts Stickers for Photoshop — SketchKeys{% endblock %}
{% block socialDescription %}Set of Photoshop keyboard stickers with shortcuts for accelerating design and development workflow.{% endblock %}

{% set currentNavItem = 'photoshop' %}
{% set headerHasBorder = true %}

{% block content %}

{% from "blocks/breadcrumbs.html" import breadcrumbs %}
{{ breadcrumbs('Photoshop') }}

<div class="product">
	<section class="product__gallery" data-gallery>

		<div class="product__gallery__i">
			<div class="gallery" id="gallery">
				<div class="gallery__item">
					<img class="gallery__item__img" src="img/photos/photoshop-keyboard-stickers-black.jpg"
						 srcset="img/photos/photoshop-keyboard-stickers-black@2x.jpg 2x" alt="">
				</div>
				<div class="gallery__item">
					<img class="gallery__item__img" src="img/photos/photoshop-keyboard-stickers-white.jpg"
						 srcset="img/photos/photoshop-keyboard-stickers-white@2x.jpg 2x" alt="">
				</div>
				<div class="gallery__item">
					<img class="gallery__item__img" src="img/photos/photoshop-keyboard-stickers-black-macbook.jpg"
						 srcset="img/photos/photoshop-keyboard-stickers-black-macbook@2x.jpg 2x" alt="">
				</div>
				<div class="gallery__item">
					<img class="gallery__item__img" src="img/photos/photoshop-keyboard-stickers-white-macbook.jpg"
						 srcset="img/photos/photoshop-keyboard-stickers-white-macbook@2x.jpg 2x" alt="">
				</div>
				<div class="gallery__item">
					<img class="gallery__item__img" src="img/photos/gift-envelopes.jpg"
						 srcset="img/photos/gift-envelopes@2x.jpg 2x" alt="">
				</div>
			</div>

			<div class="gallery__btns" id="gallery-btns">
				<div class="gallery__btns__arrow --prev"></div>
				<div class="gallery__btns__arrow --next"></div>
			</div>
		</div>
		<div class="gallery__thumbs" id="gallery-thumbs">
			<div class="gallery__thumbs__item">
				<img class="gallery__thumbs__item__img" src="img/photos/photoshop-keyboard-stickers-black.jpg"
					 srcset="img/photos/photoshop-keyboard-stickers-black@2x.jpg 2x" alt="">
			</div>
			<div class="gallery__thumbs__item">
				<img class="gallery__thumbs__item__img" src="img/photos/photoshop-keyboard-stickers-white.jpg"
					 srcset="img/photos/photoshop-keyboard-stickers-white@2x.jpg 2x" alt="">
			</div>
			<div class="gallery__thumbs__item">
				<img class="gallery__thumbs__item__img" src="img/photos/photoshop-keyboard-stickers-black-macbook.jpg"
					 srcset="img/photos/photoshop-keyboard-stickers-black-macbook@2x.jpg 2x" alt="">
			</div>
			<div class="gallery__thumbs__item">
				<img class="gallery__thumbs__item__img" src="img/photos/photoshop-keyboard-stickers-white-macbook.jpg"
					 srcset="img/photos/photoshop-keyboard-stickers-white-macbook@2x.jpg 2x" alt="">
			</div>
			<div class="gallery__thumbs__item">
				<img class="gallery__thumbs__item__img" src="img/photos/gift-envelopes.jpg" alt="">
			</div>
		</div>
	</section>

	<section class="product__details">
		<section class="buy">
			<h1 class="buy__title">Keyboard Stickers with Photoshop Shortcuts</h1>
			<p class="buy__price">$12.00</p>
			<div class="buy__shipping">Free worldwide shipping</div>
			<div class="buy__shopify">
				<div id='product-component-2bcd54ed610'></div>
			</div>
			<p class="buy__security">Payments are processed via secure Shopify server</p>
			<div class="buy__sizes">
				<h3 class="buy__sizes__title">Size Guide</h3>
				<div class="buy__sizes__sections">
					<div class="buy__sizes__section">
						<div class="buy__sizes__size">
							<span>L</span>
						</div>
						<div class="buy__sizes__descr">
							<ul class="buy__sizes__list">
								<li class="buy__sizes__list__item">
									MacBook Pro 2016 and newer
								</li>
								<li class="buy__sizes__list__item">
									MacBook Air 2017 and newer
								</li>
								<li class="buy__sizes__list__item">
									Apple Magic Keyboard
								</li>
							</ul>
						</div>
					</div>
					<div class="buy__sizes__section">
						<div class="buy__sizes__size">
							<span>S</span>
						</div>
						<div class="buy__sizes__descr">
							<ul class="buy__sizes__list">
								<li class="buy__sizes__list__item">
									All the rest of Macs and PCs
								</li>
								<li class="buy__sizes__list__item">
									Apple Keyboard
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</div>

<div class="inner">
	<!--Qualities-->
	<ul class="qualities">
		<li class="qualities__item">
			<svg class="qualities__item__icon --n1" xmlns="http://www.w3.org/2000/svg" width="43" height="29" viewBox="0 0 43 29">
				<g fill="#0433FF" fill-rule="evenodd">
					<path d="M38.521 28.716H4.48C2.009 28.716 0 26.72 0 24.274V4.726C0 2.28 2.009.284 4.479.284H38.52C40.991.284 43 2.28 43 4.726v19.548c0 2.447-2.009 4.442-4.479 4.442zM4.48 2.06c-1.482 0-2.687 1.196-2.687 2.665v19.548c0 1.47 1.205 2.665 2.687 2.665H38.52c1.482 0 2.687-1.196 2.687-2.665V4.726c0-1.47-1.205-2.665-2.687-2.665H4.48z"/>
					<path d="M13.438 19.83H6.27a.892.892 0 0 1-.896-.888c0-.49.4-.888.896-.888h7.167c.495 0 .895.397.895.888s-.4.889-.895.889zM18.812 23.385H6.272a.892.892 0 0 1-.897-.889c0-.49.4-.888.896-.888h12.541c.496 0 .896.397.896.888s-.4.889-.896.889zM25.979 14.5c-4.329 0-8.213-2.872-9.446-6.983a2.57 2.57 0 0 1 .423-2.297c.66-.884 1.83-1.286 2.878-.975 4.145 1.221 7.041 5.073 7.041 9.367 0 .49-.4.888-.896.888zm-6.884-8.587a.9.9 0 0 0-.704.369.805.805 0 0 0-.14.728c.918 3.059 3.625 5.277 6.774 5.655a8.072 8.072 0 0 0-5.702-6.721.915.915 0 0 0-.228-.031z"/>
					<path d="M25.979 14.5a.892.892 0 0 1-.896-.888c0-4.294 2.896-8.146 7.041-9.37 1.048-.31 2.216.094 2.879.976.506.67.658 1.51.423 2.296-1.234 4.114-5.118 6.986-9.447 6.986zm6.884-8.587a.908.908 0 0 0-.228.033c-3.084.911-5.323 3.598-5.702 6.721 3.15-.377 5.859-2.596 6.775-5.655a.805.805 0 0 0-.141-.728.893.893 0 0 0-.704-.371z"/>
					<path d="M25.979 28.716a.892.892 0 0 1-.896-.889V1.173c0-.491.401-.889.896-.889s.896.398.896.889v26.654c0 .491-.4.889-.896.889z"/>
					<path d="M20.604 19.83a.899.899 0 0 1-.634-.259.885.885 0 0 1 0-1.257l5.375-5.331a.903.903 0 0 1 1.268 0c.35.346.35.91 0 1.257l-5.375 5.331a.899.899 0 0 1-.634.26z"/>
					<path d="M31.354 19.83a.899.899 0 0 1-.634-.259l-5.375-5.33a.885.885 0 0 1 0-1.258.903.903 0 0 1 1.268 0l5.375 5.33c.35.347.35.912 0 1.258a.899.899 0 0 1-.634.26z"/>
					<path d="M42.104 14.5H.896A.892.892 0 0 1 0 13.612c0-.491.4-.889.896-.889h41.208c.495 0 .896.398.896.889 0 .49-.4.888-.896.888z"/>
				</g>
			</svg>
			<h3 class="qualities__item__title">
				Gift Wrapping
			</h3>
			<p class="qualities__item__descr">
				Our gift envelopes are made from beautiful
				<a href="https://www.wrapmagazineshop.com/collections/wrapping-paper">Wrap Paper</a>, printed on 100% recycled uncoated paper using vegetable-based inks.
			</p>
		</li>
		<li class="qualities__item">
			<svg class="qualities__item__icon --n2" xmlns="http://www.w3.org/2000/svg" width="29" height="41" viewBox="0 0 29 41">
				<g fill="none" fill-rule="evenodd">
					<path stroke="#0433FF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19.135 21.132H9.853c-4.808 0-8.694 3.847-8.694 8.58v8.123c0 .979.8 1.77 1.795 1.77h23.08c.995 0 1.807-.791 1.807-1.77v-8.123c0-4.733-3.899-8.58-8.706-8.58zM7.724 12.312c0 3.679 3.033 6.666 6.77 6.666 3.737 0 6.77-2.983 6.77-6.666 0-2.023-.916-3.84-2.366-5.06a3.63 3.63 0 0 0 .448-1.734c.002-2.276-2.171-4.124-4.852-4.124-2.677 0-4.851 1.848-4.851 4.125 0 .62.16 1.203.447 1.735a6.6 6.6 0 0 0-2.366 5.058z"/>
					<path fill="#0433FF" d="M22.86 30.998c-.066.06-3.186 3.12-4.334 4.247a.6.6 0 0 1-.842 0l-4.33-4.247a3.275 3.275 0 0 1 0-4.689 3.405 3.405 0 0 1 4.754-.012 3.402 3.402 0 0 1 4.752.012 3.282 3.282 0 0 1 0 4.689z"/>
				</g>
			</svg>
			<h3 class="qualities__item__title">
				Produced Locally
			</h3>
			<p class="qualities__item__descr">
				The product is produced in our hometown, Minsk (Belarus), in a small, privately held printing house.
			</p>
		</li>
		<li class="qualities__item">
			<svg class="qualities__item__icon --n3" xmlns="http://www.w3.org/2000/svg" width="37" height="37" viewBox="0 0 37 37">
				<g fill="none" fill-rule="evenodd">
					<rect width="23" height="23" x="13" y="13" stroke="#0433FF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" rx="4"/>
					<path fill="#0433FF" stroke="#0433FF" d="M27.106 29.666l-.388 1.06a.491.491 0 0 1-.127.195.334.334 0 0 1-.236.079.392.392 0 0 1-.25-.083.27.27 0 0 1-.105-.224c0-.05.014-.113.042-.19.028-.078.048-.136.06-.174l1.866-4.881a.882.882 0 0 1 .19-.32A.45.45 0 0 1 28.5 25a.45.45 0 0 1 .342.128.882.882 0 0 1 .19.32l1.867 4.88c.01.04.03.097.059.175.028.077.042.14.042.19a.27.27 0 0 1-.106.224.392.392 0 0 1-.249.083.334.334 0 0 1-.236-.079.491.491 0 0 1-.127-.194l-.388-1.061h-2.788zm2.56-.63l-1.158-3.19h-.016l-1.158 3.19h2.332z"/>
					<g fill="#0433FF">
						<path d="M7.717 17.654H0v-2.15h7.717zM17.64 7.728h-2.15V.011h2.15zM5.905 4.395l-1.52 1.52 5.162 5.163 1.52-1.52z"/>
					</g>
				</g>
			</svg>
			<h3 class="qualities__item__title">
				Durable
			</h3>
			<p class="qualities__item__descr">
				We proudly stand behind the quality of our products. The stickers last for years, giving you enough time to learn the shortcuts.
			</p>
		</li>
	</ul><!--Qualities-->
	<section class="faq"><!--FAQ-->
		<h2 class="faq__title">FAQ</h2>

		<div class="faq__columns">
			<div class="faq__column">
				<ul class="faq__list">
					<li class="faq__item">
						<h3 class="faq__question">Who created SketchKeys?</h3>

						<p class="faq__answer">SketchKeys is a family-run project, managed by <a
								href="https://twitter.com/hvost">Artiom</a>. I'm a former senior product designer at <a
								href="https://www.wework.com">WeWork</a> and author of <a href="https://productdesigninterview.com">"Solving Product Design Exercises."</a> My parents—both product designers—take care of the production and shipping process. Feel free to <a href="mailto:hvoostik@gmail.com">reach out</a>.</p>
					</li>

					<li class="faq__item">
						<h3 class="faq__question">How long does the shipping take? </h3>

						<p class="faq__answer">Shipping around Europe takes about 8–15 days; to the U.S., 11–22 days; and Asia and Oceania, 14–30 days.</p>
					</li>

					<li class="faq__item">
						<h3 class="faq__question">Is peeling off the stickers going to damage my keyboard?</h3>

						<p class="faq__answer">No, while working on the product I completed at least a dozen cycles of applying stickers and peeling them off. Both my MacBook and external keyboards are in great shape!</p>
					</li>

					<li class="faq__item">
						<h3 class="faq__question">What if I don’t like the product?</h3>

						<p class="faq__answer">We work hard to make sure it won’t happen. However, if for some reason you don’t like the product you can get a refund up to 40 days after the shipping date.</p>
					</li>
				</ul>
			</div>

			<div class="faq__column">
				<ul class="faq__list">
					<li class="faq__item">
						<h3 class="faq__question">How durable are the stickers?</h3>

						<p class="faq__answer">The stickers are made to last at least for a year, giving you enough time to remember all the shortcuts combinations. 💪</p>
					</li>
					<li class="faq__item">
						<h3 class="faq__question">I’m colorblind and I want to use your product.</h3>

						<p class="faq__answer"><a href="mailto:hvoostik@gmail.com">Send me an email</a> and I’ll create a <a
								href="https://twitter.com/303/status/752229924191162368?ref_src=twsrc%5Etfw">custom version</a> for
							you for the same price.</p>
					</li>

					<li class="faq__item">
						<h3 class="faq__question">	I like the stickers but I’d love to get them for other software.</h3>

						<p class="faq__answer">Sounds interesting! <a href="mailto:hvoostik@gmail.com">Send me an email</a> and I’ll
							see what I can do.</p>
					</li>
				</ul>
			</div>
		</div>
	</section><!-- FAQ -->

<section class="tweets">
		<h2 class="tweets__title">What the community says</h2>

		<div class="tweets__i">
			<div class="tweets__list" id="socials">

				<div class="tweets__tweet --mobile">
					<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">got my <a
							href="https://twitter.com/hashtag/Sketch?src=hash">#Sketch</a> keyboard stickers, thank you <a
							href="https://twitter.com/sketchkeys">@sketchkeys</a>!! <a href="https://t.co/kHlTPoMAgA">pic.twitter.com/kHlTPoMAgA</a>
					</p>&mdash; Franck van Domburg (@ftvandomburg) <a
							href="https://twitter.com/ftvandomburg/status/856877248103817217">April 25, 2017</a>
					</blockquote>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>

				<div class="tweets__tweet --mobile">
					<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Got my <a
							href="https://twitter.com/sketchkeys">@sketchkeys</a> in the mail. 🙌 <a
							href="https://t.co/KpsXtpEhEx">pic.twitter.com/KpsXtpEhEx</a>
					</p>&mdash; Marc Köhlbrugge (@marckohlbrugge) <a
							href="https://twitter.com/marckohlbrugge/status/752209089824972804">July 10, 2016</a>
					</blockquote>
				</div>

				<div class="tweets__tweet --mobile">
					<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Thanks <a href="https://twitter.com/sketchkeys?ref_src=twsrc%5Etfw">@sketchkeys</a> - Even being quite familiar with the shortcuts these key stickers are fantastic quality and do keep me sharp during the design workflow! <a href="https://twitter.com/hashtag/UX?src=hash&amp;ref_src=twsrc%5Etfw">#UX</a> <a href="https://twitter.com/hashtag/UI?src=hash&amp;ref_src=twsrc%5Etfw">#UI</a> <a href="https://twitter.com/hashtag/designthinking?src=hash&amp;ref_src=twsrc%5Etfw">#designthinking</a> <a href="https://t.co/yFm4lptntF">pic.twitter.com/yFm4lptntF</a></p>&mdash; Ahmed Makkawy (@saharafox) <a href="https://twitter.com/saharafox/status/1143035981404282885?ref_src=twsrc%5Etfw">June 24, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>

				<div class="tweets__tweet">
					<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7"
								style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
						<div style="padding:8px;">
							<div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;">
								<div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div>
							</div>
							<p style=" margin:8px 0 0 0; padding:0 4px;"><a href="https://www.instagram.com/p/BHe9BPoB14X/"
																			style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;"
																			target="_blank">Our Lead Interaction Designer is
								loving his
								new #sketchkeys</a></p>
							<p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
								A photo posted by Wide Ventures (@wide_ventures) on
								<time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;"
									  datetime="2016-07-05T14:46:25+00:00">Jul 5, 2016 at 7:46am PDT
								</time>
							</p>
						</div>
					</blockquote>
				</div>

				<div class="tweets__tweet">
					<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7"
								style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
						<div style="padding:8px;">
							<div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;">
								<div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div>
							</div>
							<p style=" margin:8px 0 0 0; padding:0 4px;"><a href="https://www.instagram.com/p/BHb_2EThp9P/"
																			style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;"
																			target="_blank">Today, I pimped my keyboard
								👇🏻👌🏻#sketchkeys</a></p>
							<p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
								A photo posted by amyclarkee (@amyclarkee) on
								<time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;"
									  datetime="2016-07-04T11:13:23+00:00">Jul 4, 2016 at 4:13am PDT
								</time>
							</p>
						</div>
					</blockquote>
				</div>

				<div class="tweets__tweet">
					<blockquote class="instagram-media" data-instgrm-captioned data-instgrm-version="7"
								style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
						<div style="padding:8px;">
							<div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;">
								<div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div>
							</div>
							<p style=" margin:8px 0 0 0; padding:0 4px;"><a href="https://www.instagram.com/p/BFWs8JBhqlP/"
																			style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;"
																			target="_blank">#sketchkeys on all the
								keyboards!</a></p>
							<p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">
								A photo posted by Seth Cottle (@sethcottle) on
								<time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;"
									  datetime="2016-05-13T16:49:12+00:00">May 13, 2016 at 9:49am PDT
								</time>
							</p>
						</div>
					</blockquote>
				</div>
				<div class="tweets__tweet">
<blockquote class="twitter-tweet"><p lang="en" dir="ltr">Got my <a href="https://twitter.com/sketchkeys?ref_src=twsrc%5Etfw">@sketchkeys</a> 😊<br>Spasibo! 🙏 <a href="https://t.co/QGWkRnHUL2">pic.twitter.com/QGWkRnHUL2</a></p>&mdash; Andrey Torus (@torus_andrey) <a href="https://twitter.com/torus_andrey/status/1148260159355011072?ref_src=twsrc%5Etfw">July 8, 2019</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>

				<div class="tweets__tweet">
					<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Upping my☝shortcut ⌨ game with
						<a
								href="https://twitter.com/sketchkeys">@sketchkeys</a> <a href="https://t.co/L3Ju5IEDRT">pic.twitter.com/L3Ju5IEDRT</a>
					</p>&mdash; Keith Barney (@keithbarney) <a
							href="https://twitter.com/keithbarney/status/715578591434551296">March
						31, 2016</a></blockquote>
				</div>

				<div class="tweets__tweet">
					<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Move through <a
							href="https://twitter.com/sketchapp">@sketchapp</a> like a hot knife through butter with
						keyboard
						shortcut stickers! <a href="https://t.co/6AYrX1s43C">https://t.co/6AYrX1s43C</a> <a
								href="https://t.co/UlnVlM7Q3m">pic.twitter.com/UlnVlM7Q3m</a></p>&mdash; Marvel (@marvelapp)
						<a
								href="https://twitter.com/marvelapp/status/709732043547136000">March 15, 2016</a>
					</blockquote>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}
