{% extends "layout/base.html" %}

{% block pageTitle %}Keyboard Stickers with Photoshop Shortcuts — SketchKeys{% endblock %}
{% block metaDescription %}Keyboard stickers with shortcuts for Photoshop. Accelerate your design and development workflow by learning the hotkeys.{% endblock %}
{% block socialTitle %}Keyboard Shortcuts Stickers for Photoshop — SketchKeys{% endblock %}
{% block socialDescription %}Set of Photoshop keyboard stickers with shortcuts for accelerating design and development workflow.{% endblock %}

{% set currentNavItem = 'photoshop' %}
{% set headerHasBorder = true %}

{% block content %}

{% from "blocks/breadcrumbs.html" import breadcrumbs %}
{{ breadcrumbs('Photoshop') }}

<div class="product">
	<section class="product__gallery" data-gallery>

		<div class="product__gallery__i">
			<div class="gallery" id="gallery">
				<div class="gallery__item">
					<img class="gallery__item__img" src="img/photos/photoshop-keyboard-stickers-black.jpg" srcset="img/photos/photoshop-keyboard-stickers-black@2x.jpg 2x" alt="">
				</div>
				<div class="gallery__item">
					<img class="gallery__item__img" src="img/photos/photoshop-keyboard-stickers-white.jpg" srcset="img/photos/photoshop-keyboard-stickers-white@2x.jpg 2x" alt="">
				</div>
				<div class="gallery__item">
					<img class="gallery__item__img" src="img/photos/photoshop-keyboard-stickers-black-macbook.jpg" srcset="img/photos/photoshop-keyboard-stickers-black-macbook@2x.jpg 2x" alt="">
				</div>
				<div class="gallery__item">
					<img class="gallery__item__img" src="img/photos/photoshop-keyboard-stickers-white-macbook.jpg" srcset="img/photos/photoshop-keyboard-stickers-white-macbook@2x.jpg 2x" alt="">
				</div>
				<div class="gallery__item">
					<img class="gallery__item__img" src="img/photos/gift-envelopes.jpg" srcset="img/photos/gift-envelopes@2x.jpg 2x" alt="">
				</div>
			</div>

			<div class="gallery__btns" id="gallery-btns">
				<div class="gallery__btns__arrow --prev"></div>
				<div class="gallery__btns__arrow --next"></div>
			</div>
		</div>
		<div class="gallery__thumbs" id="gallery-thumbs">
			<div class="gallery__thumbs__item">
				<img class="gallery__thumbs__item__img" src="img/photos/photoshop-keyboard-stickers-black.jpg" srcset="img/photos/photoshop-keyboard-stickers-black@2x.jpg 2x" alt="">
			</div>
			<div class="gallery__thumbs__item">
				<img class="gallery__thumbs__item__img" src="img/photos/photoshop-keyboard-stickers-white.jpg" srcset="img/photos/photoshop-keyboard-stickers-white@2x.jpg 2x" alt="">
			</div>
			<div class="gallery__thumbs__item">
				<img class="gallery__thumbs__item__img" src="img/photos/photoshop-keyboard-stickers-black-macbook.jpg" srcset="img/photos/photoshop-keyboard-stickers-black-macbook@2x.jpg 2x" alt="">
			</div>
			<div class="gallery__thumbs__item">
				<img class="gallery__thumbs__item__img" src="img/photos/photoshop-keyboard-stickers-white-macbook.jpg" srcset="img/photos/photoshop-keyboard-stickers-white-macbook@2x.jpg 2x" alt="">
			</div>
			<div class="gallery__thumbs__item">
				<img class="gallery__thumbs__item__img" src="img/photos/gift-envelopes.jpg" srcset="img/photos/gift-envelopes@2x.jpg 2x" alt="">
			</div>
		</div>
	</section>

	<section class="product__details">
		<section class="buy">
			<h1 class="buy__title">Keyboard Stickers with Photoshop Shortcuts</h1>
			<p class="buy__price">$12.00</p>
			<div class="buy__shipping">Free worldwide shipping</div>
			<div class="buy__shopify">
				<div id='product-component-2bcd54ed610'></div>
			</div>
			<p class="buy__security">Payments are processed via secure Shopify server</p>
			<div class="buy__sizes">
				<h3 class="buy__sizes__title">Size Guide</h3>
				<div class="buy__sizes__sections">
					<div class="buy__sizes__section">
						<div class="buy__sizes__size">
							<span>L</span>
						</div>
						<div class="buy__sizes__descr">
							<ul class="buy__sizes__list">
								<li class="buy__sizes__list__item">
									MacBook Pro 2016 and newer
								</li>
								<li class="buy__sizes__list__item">
									MacBook Air 2017 and newer
								</li>
								<li class="buy__sizes__list__item">
									Apple Magic Keyboard
								</li>
							</ul>
						</div>
					</div>
					<div class="buy__sizes__section">
						<div class="buy__sizes__size">
							<span>S</span>
						</div>
						<div class="buy__sizes__descr">
							<ul class="buy__sizes__list">
								<li class="buy__sizes__list__item">
									All the rest of Macs and PCs
								</li>
								<li class="buy__sizes__list__item">
									Apple Keyboard
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</div>

{% include "blocks/qualities.html" %}

{% include "blocks/faq.html" %}

{% include "blocks/tweets.html" %}

{% endblock %}
